In [1]:
import numpy as np 
import pandas as pd 
import sys
pd.set_option('display.max_colwidth', -1)
import warnings
warnings.filterwarnings("ignore")

In [3]:
train = pd.read_csv('application_train.csv',error_bad_lines=False)

b'Skipping line 3869: expected 122 fields, saw 187\nSkipping line 5810: expected 122 fields, saw 140\n'
b'Skipping line 9677: expected 122 fields, saw 182\nSkipping line 15532: expected 122 fields, saw 231\n'
b'Skipping line 23318: expected 122 fields, saw 169\n'
b'Skipping line 27191: expected 122 fields, saw 168\nSkipping line 31088: expected 122 fields, saw 124\n'
b'Skipping line 33039: expected 122 fields, saw 186\nSkipping line 36913: expected 122 fields, saw 200\nSkipping line 40794: expected 122 fields, saw 165\n'
b'Skipping line 44670: expected 122 fields, saw 124\n'
b'Skipping line 50490: expected 122 fields, saw 151\nSkipping line 52423: expected 122 fields, saw 200\n'
b'Skipping line 58235: expected 122 fields, saw 202\nSkipping line 64077: expected 122 fields, saw 129\n'
b'Skipping line 67971: expected 122 fields, saw 148\nSkipping line 71855: expected 122 fields, saw 130\n'
b'Skipping line 73806: expected 122 fields, saw 178\nSkipping line 79616: expected 122 fields, saw 132\n'
b'Skipping line 83494: expected 122 fields, saw 129\nSkipping line 85432: expected 122 fields, saw 210\nSkipping line 89287: expected 122 fields, saw 123\n'
b'Skipping line 93178: expected 122 fields, saw 152\nSkipping line 95101: expected 122 fields, saw 172\n'
b'Skipping line 98991: expected 122 fields, saw 139\nSkipping line 104830: expected 122 fields, saw 135\n'
b'Skipping line 108712: expected 122 fields, saw 221\nSkipping line 114534: expected 122 fields, saw 129\n'
b'Skipping line 116462: expected 122 fields, saw 153\nSkipping line 120334: expected 122 fields, saw 189\n'
b'Skipping line 128098: expected 122 fields, saw 152\nSkipping line 130025: expected 122 fields, saw 173\n'
b'Skipping line 133906: expected 122 fields, saw 173\nSkipping line 137784: expected 122 fields, saw 125\n'
b'Skipping line 141661: expected 122 fields, saw 191\nSkipping line 143612: expected 122 fields, saw 138\n'
b'Skipping line 149403: expected 122 fields, saw 123\nSkipping line 153267: expected 122 fields, saw 197\n'
b'Skipping line 159117: expected 122 fields, saw 124\nSkipping line 161044: expected 122 fields, saw 201\n'
b'Skipping line 168802: expected 122 fields, saw 148\nSkipping line 170727: expected 122 fields, saw 186\n'
b'Skipping line 178476: expected 122 fields, saw 159\n'
b'Skipping line 182363: expected 122 fields, saw 132\nSkipping line 186260: expected 122 fields, saw 125\n'
b'Skipping line 194050: expected 122 fields, saw 209\n'
b'Skipping line 199860: expected 122 fields, saw 130\nSkipping line 201812: expected 122 fields, saw 137\nSkipping line 203767: expected 122 fields, saw 123\n'
b'Skipping line 207646: expected 122 fields, saw 149\nSkipping line 211557: expected 122 fields, saw 172\n'
b'Skipping line 215437: expected 122 fields, saw 146\n'
b'Skipping line 221261: expected 122 fields, saw 158\nSkipping line 227080: expected 122 fields, saw 185\n'
b'Skipping line 230964: expected 122 fields, saw 212\nSkipping line 234823: expected 122 fields, saw 143\nSkipping line 236765: expected 122 fields, saw 143\n'
b'Skipping line 240666: expected 122 fields, saw 201\nSkipping line 244548: expected 122 fields, saw 144\n'
b'Skipping line 246474: expected 122 fields, saw 190\nSkipping line 252325: expected 122 fields, saw 136\n'
b'Skipping line 254278: expected 122 fields, saw 208\nSkipping line 256204: expected 122 fields, saw 126\nSkipping line 258155: expected 122 fields, saw 123\nSkipping line 262045: expected 122 fields, saw 125\n'
b'Skipping line 263998: expected 122 fields, saw 219\nSkipping line 267896: expected 122 fields, saw 221\n'
b'Skipping line 271790: expected 122 fields, saw 126\nSkipping line 273730: expected 122 fields, saw 196\nSkipping line 277638: expected 122 fields, saw 130\n'
b'Skipping line 281543: expected 122 fields, saw 151\nSkipping line 283483: expected 122 fields, saw 171\n'
b'Skipping line 287380: expected 122 fields, saw 142\nSkipping line 289309: expected 122 fields, saw 137\n'
b'Skipping line 297075: expected 122 fields, saw 139\nSkipping line 299004: expected 122 fields, saw 140\n'
b'Skipping line 304813: expected 122 fields, saw 198\n'
b'Skipping line 312539: expected 122 fields, saw 171\nSkipping line 316431: expected 122 fields, saw 148\nSkipping line 318383: expected 122 fields, saw 142\n'
b'Skipping line 324235: expected 122 fields, saw 175\nSkipping line 326173: expected 122 fields, saw 151\n'
b'Skipping line 330072: expected 122 fields, saw 136\nSkipping line 332010: expected 122 fields, saw 190\nSkipping line 333944: expected 122 fields, saw 125\n'
b'Skipping line 339772: expected 122 fields, saw 202\nSkipping line 343645: expected 122 fields, saw 125\n'
b'Skipping line 345581: expected 122 fields, saw 135\nSkipping line 349452: expected 122 fields, saw 145\n'
b'Skipping line 353318: expected 122 fields, saw 152\nSkipping line 357208: expected 122 fields, saw 125\nSkipping line 359138: expected 122 fields, saw 142\n'
b'Skipping line 363032: expected 122 fields, saw 150\n'
b'Skipping line 368868: expected 122 fields, saw 212\nSkipping line 372737: expected 122 fields, saw 152\nSkipping line 374687: expected 122 fields, saw 176\n'
b'Skipping line 378563: expected 122 fields, saw 157\nSkipping line 384391: expected 122 fields, saw 127\n'
b'Skipping line 386328: expected 122 fields, saw 137\nSkipping line 388269: expected 122 fields, saw 123\nSkipping line 392159: expected 122 fields, saw 171\n'
b'Skipping line 396035: expected 122 fields, saw 133\nSkipping line 397982: expected 122 fields, saw 144\n'
b'Skipping line 401866: expected 122 fields, saw 143\nSkipping line 405767: expected 122 fields, saw 128\nSkipping line 407691: expected 122 fields, saw 172\n'
b'Skipping line 411623: expected 122 fields, saw 160\nSkipping line 413547: expected 122 fields, saw 140\nSkipping line 417462: expected 122 fields, saw 133\n'
b'Skipping line 421340: expected 122 fields, saw 150\n'
b'Skipping line 429103: expected 122 fields, saw 148\n'
b'Skipping line 434905: expected 122 fields, saw 126\nSkipping line 436845: expected 122 fields, saw 138\nSkipping line 438796: expected 122 fields, saw 132\n'
b'Skipping line 442672: expected 122 fields, saw 136\nSkipping line 444623: expected 122 fields, saw 134\nSkipping line 448523: expected 122 fields, saw 125\nSkipping line 450454: expected 122 fields, saw 165\n'
b'Skipping line 454351: expected 122 fields, saw 133\n'
b'Skipping line 460175: expected 122 fields, saw 127\n'
b'Skipping line 467968: expected 122 fields, saw 181\n'
b'Skipping line 475747: expected 122 fields, saw 128\n'
b'Skipping line 483493: expected 122 fields, saw 145\nSkipping line 487338: expected 122 fields, saw 125\nSkipping line 491230: expected 122 fields, saw 177\n'
b'Skipping line 502883: expected 122 fields, saw 166\nSkipping line 506738: expected 122 fields, saw 136\n'
b'Skipping line 514412: expected 122 fields, saw 171\n'
b'Skipping line 522133: expected 122 fields, saw 147\n'
b'Skipping line 529878: expected 122 fields, saw 178\n'
b'Skipping line 541569: expected 122 fields, saw 142\nSkipping line 545460: expected 122 fields, saw 161\n'
b'Skipping line 549363: expected 122 fields, saw 123\n'
b'Skipping line 564774: expected 122 fields, saw 172\n'
b'Skipping line 568616: expected 122 fields, saw 124\n'
b'Skipping line 576382: expected 122 fields, saw 123\nSkipping line 580291: expected 122 fields, saw 166\n'
b'Skipping line 591987: expected 122 fields, saw 163\n'

In [4]:
bureau = pd.read_csv('bureau.csv')

In [5]:
bureau[bureau['SK_ID_CURR'] == 100001]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
248484,100001,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.0,0.0,0.0,0.0,Consumer credit,-155,0.0
248485,100001,5896631,Closed,currency 1,-909,0,-179.0,-877.0,NaN,0,279720.0,0.0,0.0,0.0,Consumer credit,-155,0.0
248486,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.0,0.0,0.0,0.0,Consumer credit,-155,0.0
248487,100001,5896633,Closed,currency 1,-1572,0,-1329.0,-1328.0,NaN,0,85500.0,0.0,0.0,0.0,Consumer credit,-155,0.0
248488,100001,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.0,113166.0,0.0,0.0,Consumer credit,-6,4630.5
248489,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.0,373239.0,0.0,0.0,Consumer credit,-16,10822.5
248490,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.0,110281.5,NaN,0.0,Consumer credit,-10,9364.5

## Feature 1 - Number Of Past Loans Per Customer

In [6]:
B = bureau[0:10000]
grp = B[['SK_ID_CURR', 'DAYS_CREDIT']].groupby(by = ['SK_ID_CURR'])['DAYS_CREDIT'].count().reset_index().rename(index=str, columns={'DAYS_CREDIT': 'BUREAU_LOAN_COUNT'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')
print(B.shape)

(10000, 18)

## Feature 2 - Number Of Types Of Past Loans Per Customer

In [7]:
B = bureau[0:10000]
grp = B[['SK_ID_CURR', 'CREDIT_TYPE']].groupby(by = ['SK_ID_CURR'])['CREDIT_TYPE'].nunique().reset_index().rename(index=str, columns={'CREDIT_TYPE': 'BUREAU_LOAN_TYPES'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')
print(B.shape)

(10000, 18)

## Feature 3 - Average Number Of Past Loans Per Type Per Customer

### Is the Customer diversified in taking multiple types of Loan or Focused on a single type of loan

In [8]:
B = bureau[0:10000]
# Number of Loans per Customer
grp = B[['SK_ID_CURR', 'DAYS_CREDIT']].groupby(by = ['SK_ID_CURR'])['DAYS_CREDIT'].count().reset_index().rename(index=str, columns={'DAYS_CREDIT': 'BUREAU_LOAN_COUNT'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')

# Number of types of Credit loans for each Customer 
grp = B[['SK_ID_CURR', 'CREDIT_TYPE']].groupby(by = ['SK_ID_CURR'])['CREDIT_TYPE'].nunique().reset_index().rename(index=str, columns={'CREDIT_TYPE': 'BUREAU_LOAN_TYPES'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')

# Average Number of Loans per Loan Type
B['AVERAGE_LOAN_TYPE'] = B['BUREAU_LOAN_COUNT']/B['BUREAU_LOAN_TYPES']
del B['BUREAU_LOAN_COUNT'], B['BUREAU_LOAN_TYPES']
import gc
gc.collect()
print(B.shape)

(10000, 18)

## Feature 4 - % Of Active Loans from Bureau Data

In [9]:
B = bureau[0:10000]
# Create a new dummy column for whether CREDIT is ACTIVE OR CLOED 
B['CREDIT_ACTIVE_BINARY'] = B['CREDIT_ACTIVE']

def f(x):
    if x == 'Closed':
        y = 0
    else:
        y = 1    
    return y

B['CREDIT_ACTIVE_BINARY'] = B.apply(lambda x: f(x.CREDIT_ACTIVE), axis = 1)

# Calculate mean number of loans that are ACTIVE per CUSTOMER 
grp = B.groupby(by = ['SK_ID_CURR'])['CREDIT_ACTIVE_BINARY'].mean().reset_index().rename(index=str, columns={'CREDIT_ACTIVE_BINARY': 'ACTIVE_LOANS_PERCENTAGE'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')
del B['CREDIT_ACTIVE_BINARY']
import gc
gc.collect()
print(B.shape)

B[B['SK_ID_CURR'] == 100653]

(10000, 18)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,ACTIVE_LOANS_PERCENTAGE
9688,100653,5726282,Active,currency 1,-256,0,109.0,NaN,NaN,0,97244.91,39081.42,NaN,0.0,Consumer credit,-37,0.0,0.571429
9689,100653,5726283,Closed,currency 1,-2474,0,-2260.0,-2289.0,NaN,0,30262.14,0.00,NaN,0.0,Consumer credit,-856,NaN,0.571429
9690,100653,5726284,Closed,currency 1,-2258,0,-1924.0,-1924.0,NaN,0,47156.85,0.00,NaN,0.0,Consumer credit,-856,0.0,0.571429
9691,100653,5726285,Closed,currency 1,-1677,0,-946.0,-946.0,NaN,0,71068.50,0.00,0.0,0.0,Consumer credit,-895,0.0,0.571429
9692,100653,5726286,Active,currency 1,-182,0,-152.0,NaN,NaN,0,225000.00,215923.50,0.0,0.0,Credit card,-82,0.0,0.571429
9693,100653,5726287,Active,currency 1,-1564,0,NaN,NaN,NaN,0,87750.00,0.00,NaN,0.0,Credit card,-1006,0.0,0.571429
9694,100653,5726288,Active,currency 1,-252,0,3401.0,NaN,NaN,0,315000.00,201766.50,NaN,0.0,Credit card,-22,NaN,0.571429

## Feature 5 - Average Number of Days Between Successive Past Applications for Each Customer

### How often did the customer take credit in the past? Was it spaced out at regular time intervals - a signal of good financial planning OR were the loans concentrated around a smaller time frame - indicating potential financial trouble?

In [10]:
B = bureau[0:10000]
# Groupby each Customer and Sort values of DAYS_CREDIT in ascending order
grp = B[['SK_ID_CURR', 'SK_ID_BUREAU', 'DAYS_CREDIT']].groupby(by = ['SK_ID_CURR'])
grp1 = grp.apply(lambda x: x.sort_values(['DAYS_CREDIT'], ascending = False)).reset_index(drop = True)#rename(index = str, columns = {'DAYS_CREDIT': 'DAYS_CREDIT_DIFF'})
print("Grouping and Sorting done")

# Calculate Difference between the number of Days 
grp1['DAYS_CREDIT1'] = grp1['DAYS_CREDIT']*-1
grp1['DAYS_DIFF'] = grp1.groupby(by = ['SK_ID_CURR'])['DAYS_CREDIT1'].diff()
grp1['DAYS_DIFF'] = grp1['DAYS_DIFF'].fillna(0).astype('uint32')
del grp1['DAYS_CREDIT1'], grp1['DAYS_CREDIT'], grp1['SK_ID_CURR']
gc.collect()
print("Difference days calculated")

B = B.merge(grp1, on = ['SK_ID_BUREAU'], how = 'left')
print("Difference in Dates between Previous CB applications is CALCULATED ")
print(B.shape)

Grouping and Sorting done
Difference days calculated
Difference in Dates between Previous CB applications is CALCULATED
(10000, 18)

## Feature 6 - % Of Loans Per Customer Where End Date for Credit Is Past

### INTERPRETING CREDIT_DAYS_ENDDATE

*NEGATIVE VALUE* - Credit date was in the past at time of application (Potential Red Flag)

*POSITIVE VALUE* - Credit date is in the future at time of application (Potential Good Sign)

**NOTE**: This is not the same as % of Active loans since Active loans can have Negative and Positive values for DAYS_CREDIT_ENDDATE

In [11]:
B = bureau[0:10000]
B['CREDIT_ENDDATE_BINARY'] = B['DAYS_CREDIT_ENDDATE']

def f(x):
    if x<0:
        y = 0
    else:
        y = 1   
    return y

B['CREDIT_ENDDATE_BINARY'] = B.apply(lambda x: f(x.DAYS_CREDIT_ENDDATE), axis = 1)
print("New Binary Column calculated")

grp = B.groupby(by = ['SK_ID_CURR'])['CREDIT_ENDDATE_BINARY'].mean().reset_index().rename(index=str, columns={'CREDIT_ENDDATE_BINARY': 'CREDIT_ENDDATE_PERCENTAGE'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')

del B['CREDIT_ENDDATE_BINARY']
gc.collect()
print(B.shape)

New Binary Column calculated
(10000, 18)

## Feature 7 - Average Number of Days in Which Credit Expires in Future -Indication Of Customer Delinquency In Future?

In [12]:
# Repeating Feature 6 to Calculate all transactions with ENDATE as POSITIVE VALUES 

B = bureau[0:10000]
# Dummy column to calculate 1 or 0 values. 1 for Positive CREDIT_ENDDATE and 0 for Negative
B['CREDIT_ENDDATE_BINARY'] = B['DAYS_CREDIT_ENDDATE']

def f(x):
    if x<0:
        y = 0
    else:
        y = 1   
    return y

B['CREDIT_ENDDATE_BINARY'] = B.apply(lambda x: f(x.DAYS_CREDIT_ENDDATE), axis = 1)
print("New Binary Column calculated")

# We take only positive values of  ENDDATE since we are looking at Bureau Credit VALID IN FUTURE 
# as of the date of the customer's loan application with Home Credit 
B1 = B[B['CREDIT_ENDDATE_BINARY'] == 1]
B1.shape

#Calculate Difference in successive future end dates of CREDIT 

# Create Dummy Column for CREDIT_ENDDATE 
B1['DAYS_CREDIT_ENDDATE1'] = B1['DAYS_CREDIT_ENDDATE']
# Groupby Each Customer ID 
grp = B1[['SK_ID_CURR', 'SK_ID_BUREAU', 'DAYS_CREDIT_ENDDATE1']].groupby(by = ['SK_ID_CURR'])
# Sort the values of CREDIT_ENDDATE for each customer ID 
grp1 = grp.apply(lambda x: x.sort_values(['DAYS_CREDIT_ENDDATE1'], ascending = True)).reset_index(drop = True)
del grp
gc.collect()
print("Grouping and Sorting done")

# Calculate the Difference in ENDDATES and fill missing values with zero 
grp1['DAYS_ENDDATE_DIFF'] = grp1.groupby(by = ['SK_ID_CURR'])['DAYS_CREDIT_ENDDATE1'].diff()
grp1['DAYS_ENDDATE_DIFF'] = grp1['DAYS_ENDDATE_DIFF'].fillna(0).astype('uint32')
del grp1['DAYS_CREDIT_ENDDATE1'], grp1['SK_ID_CURR']
gc.collect()
print("Difference days calculated")

# Merge new feature 'DAYS_ENDDATE_DIFF' with original Data frame for BUREAU DATA
B = B.merge(grp1, on = ['SK_ID_BUREAU'], how = 'left')
del grp1
gc.collect()

# Calculate Average of DAYS_ENDDATE_DIFF

grp = B[['SK_ID_CURR', 'DAYS_ENDDATE_DIFF']].groupby(by = ['SK_ID_CURR'])['DAYS_ENDDATE_DIFF'].mean().reset_index().rename( index = str, columns = {'DAYS_ENDDATE_DIFF': 'AVG_ENDDATE_FUTURE'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')
del grp 
#del B['DAYS_ENDDATE_DIFF']
del B['CREDIT_ENDDATE_BINARY'], B['DAYS_CREDIT_ENDDATE']
gc.collect()
print(B.shape)

New Binary Column calculated
Grouping and Sorting done
Difference days calculated
(10000, 18)

In [13]:
# Verification of Feature 
B[B['SK_ID_CURR'] == 100653]
# In the Data frame below we have 3 values not NAN 
# Average of 3 values = (0 +0 + 3292)/3 = 1097.33 
#The NAN Values are Not Considered since these values DO NOT HAVE A FUTURE CREDIT END DATE

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,DAYS_ENDDATE_DIFF,AVG_ENDDATE_FUTURE
9688,100653,5726282,Active,currency 1,-256,0,NaN,NaN,0,97244.91,39081.42,NaN,0.0,Consumer credit,-37,0.0,0.0,1097.333333
9689,100653,5726283,Closed,currency 1,-2474,0,-2289.0,NaN,0,30262.14,0.00,NaN,0.0,Consumer credit,-856,NaN,NaN,1097.333333
9690,100653,5726284,Closed,currency 1,-2258,0,-1924.0,NaN,0,47156.85,0.00,NaN,0.0,Consumer credit,-856,0.0,NaN,1097.333333
9691,100653,5726285,Closed,currency 1,-1677,0,-946.0,NaN,0,71068.50,0.00,0.0,0.0,Consumer credit,-895,0.0,NaN,1097.333333
9692,100653,5726286,Active,currency 1,-182,0,NaN,NaN,0,225000.00,215923.50,0.0,0.0,Credit card,-82,0.0,NaN,1097.333333
9693,100653,5726287,Active,currency 1,-1564,0,NaN,NaN,0,87750.00,0.00,NaN,0.0,Credit card,-1006,0.0,0.0,1097.333333
9694,100653,5726288,Active,currency 1,-252,0,NaN,NaN,0,315000.00,201766.50,NaN,0.0,Credit card,-22,NaN,3292.0,1097.333333

## Feature 8 - Debt Over Credit Ratio

### The Ratio of Total Debt to Total Credit for each Customer

### A High value may be a red flag indicative of potential default

In [15]:
B[~B['AMT_CREDIT_SUM_LIMIT'].isnull()][0:2]

# WE can see in the Table Below 
# AMT_CREDIT_SUM = AMT_CREDIT_SUM_DEBT + AMT_CREDIT_SUM_LIMIT

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,DAYS_ENDDATE_DIFF,AVG_ENDDATE_FUTURE
5,215354,5714467,Active,currency 1,-273,0,NaN,0.0,0,180000.0,71017.38,108982.62,0.0,Credit card,-31,NaN,26263.0,4563.5
6,215354,5714468,Active,currency 1,-43,0,NaN,0.0,0,42103.8,42103.80,0.00,0.0,Consumer credit,-22,NaN,0.0,4563.5

In [16]:
B = bureau[0:10000]

B['AMT_CREDIT_SUM_DEBT'] = B['AMT_CREDIT_SUM_DEBT'].fillna(0)
B['AMT_CREDIT_SUM'] = B['AMT_CREDIT_SUM'].fillna(0)

grp1 = B[['SK_ID_CURR', 'AMT_CREDIT_SUM_DEBT']].groupby(by = ['SK_ID_CURR'])['AMT_CREDIT_SUM_DEBT'].sum().reset_index().rename( index = str, columns = { 'AMT_CREDIT_SUM_DEBT': 'TOTAL_CUSTOMER_DEBT'})
grp2 = B[['SK_ID_CURR', 'AMT_CREDIT_SUM']].groupby(by = ['SK_ID_CURR'])['AMT_CREDIT_SUM'].sum().reset_index().rename( index = str, columns = { 'AMT_CREDIT_SUM': 'TOTAL_CUSTOMER_CREDIT'})

B = B.merge(grp1, on = ['SK_ID_CURR'], how = 'left')
B = B.merge(grp2, on = ['SK_ID_CURR'], how = 'left')
del grp1, grp2
gc.collect()

B['DEBT_CREDIT_RATIO'] = B['TOTAL_CUSTOMER_DEBT']/B['TOTAL_CUSTOMER_CREDIT']

del B['TOTAL_CUSTOMER_DEBT'], B['TOTAL_CUSTOMER_CREDIT']
gc.collect()
print(B.shape)

(10000, 18)

## Feature 9 - Overdue Over Debt Ratio

### What fraction of total Debt is overdue per customer?

### A high value could indicate a potential DEFAULT

In [17]:
B = bureau[0:10000]

B['AMT_CREDIT_SUM_DEBT'] = B['AMT_CREDIT_SUM_DEBT'].fillna(0)
B['AMT_CREDIT_SUM_OVERDUE'] = B['AMT_CREDIT_SUM_OVERDUE'].fillna(0)

grp1 = B[['SK_ID_CURR', 'AMT_CREDIT_SUM_DEBT']].groupby(by = ['SK_ID_CURR'])['AMT_CREDIT_SUM_DEBT'].sum().reset_index().rename( index = str, columns = { 'AMT_CREDIT_SUM_DEBT': 'TOTAL_CUSTOMER_DEBT'})
grp2 = B[['SK_ID_CURR', 'AMT_CREDIT_SUM_OVERDUE']].groupby(by = ['SK_ID_CURR'])['AMT_CREDIT_SUM_OVERDUE'].sum().reset_index().rename( index = str, columns = { 'AMT_CREDIT_SUM_OVERDUE': 'TOTAL_CUSTOMER_OVERDUE'})

B = B.merge(grp1, on = ['SK_ID_CURR'], how = 'left')
B = B.merge(grp2, on = ['SK_ID_CURR'], how = 'left')
del grp1, grp2
gc.collect()

B['OVERDUE_DEBT_RATIO'] = B['TOTAL_CUSTOMER_OVERDUE']/B['TOTAL_CUSTOMER_DEBT']

del B['TOTAL_CUSTOMER_OVERDUE'], B['TOTAL_CUSTOMER_DEBT']
gc.collect()
print(B.shape)

(10000, 18)

## Feature 10 - Average Number Of Loans Prolonge

In [18]:
B = bureau[0:10000]

B['CNT_CREDIT_PROLONG'] = B['CNT_CREDIT_PROLONG'].fillna(0)
grp = B[['SK_ID_CURR', 'CNT_CREDIT_PROLONG']].groupby(by = ['SK_ID_CURR'])['CNT_CREDIT_PROLONG'].mean().reset_index().rename( index = str, columns = { 'CNT_CREDIT_PROLONG': 'AVG_CREDITDAYS_PROLONGED'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')
print(B.shape)

(10000, 18)